{% extends "layout.html" %}
{% block body %}

<style type="text/css">
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
    margin: 15px;
	}
	td {
		border: 1px solid black;
		text-align: left;
		padding: 8px;
	}
	th {
		border: 1px solid black;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #E8E8E8;
	}

	.submit_file {
		align-content: right;
	}

	.submit_file_upload {
		font-size: 13px;
		background-color: #4CAF50;
		color: white;
	}

	.upload_file {
		font-size: 12px;
	}

	.careers-screen {
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-size: 24px;
  }

  #products_table {
  	width: 50%;
  }
</style>


<!-- TODO: change for id variables to class variables.. -->
<script type="text/javascript">
	function fill_respective_fields() {

    var applicant_form_name = document.getElementsByClassName('applicant_form_name');
    var applicant_form_email = document.getElementsByClassName('applicant_form_email');
    var applicant_form_mobile = document.getElementsByClassName('applicant_form_mobile');

    for (var i = 0; i < applicant_form_name.length; i++) {
      var i_applicant_form_name = applicant_form_name[i];
      var i_applicant_form_email = applicant_form_email[i];
      var i_applicant_form_mobile = applicant_form_mobile[i];

      i_applicant_form_name.value = document.getElementById('applicant_name').value;
      i_applicant_form_email.value = document.getElementById('applicant_email').value;
      i_applicant_form_mobile.value = document.getElementById('applicant_mobile').value;
    }
	}
</script>

	<div class="careers-screen" style="width: 100%;" id = "careers-screen">
    <h1 style="text-align: center; font-size: 64px; padding-bottom: 5%;">Careers Portal</h1>

    {% if application_status != "" %}

    	<h3>Applied successfully!!</h3>

    {% else %}

    	<label style="padding-left: 25px;">Name:</label><br>
    	<input style="margin-left: 25px;" type="text" id="applicant_name" name="applicant_name" onchange="fill_respective_fields()">
    	<br>
    	<label style="padding-left: 25px;">Email:</label><br>
    	<input style="margin-left: 25px;" type="text" id="applicant_email" name="applicant_email" onchange="fill_respective_fields()">
    	<br>
    	<label style="padding-left: 25px;">Mobile:</label><br>
    	<input style="margin-left: 25px;" type="text" id="applicant_mobile" name="applicant_mobile" onchange="fill_respective_fields()">
    	<br><br>

	    <table id="products_table">
	    	<tr style="font-weight: bold; background-color: #4242EE; color: white;">
	    		<td style="text-align: center;">
	    			Role
	    		</td>
	    		<th style="text-align: center;">
	    			
	    		</th>
	    	</tr>

	    	{% for role in roles %}
	    		<tr class="order_rows">
	    			<td>
	    				{{ role }}
	    			</td>
	    			<th>
	    				<form action = "/careers_portal" method = "post" enctype="multipart/form-data">
				      	<div style="width: 150px;">
					        <input class="upload_file" type="file" name="file" style="width: 100px;" />  
					        <input class="submit_file_upload" type = "submit" value="Upload">				        	
						    	<input type="hidden" name="applicant_name" class="applicant_form_name">
						    	<input type="hidden" name="applicant_email" class="applicant_form_email">
						    	<input type="hidden" name="applicant_mobile" class="applicant_form_mobile">
						    	<input type="hidden" name="applicant_field" class="applicant_form_field" value="{{ role }}">
						    </div>
					    </form>
	    			</th>
	    		</tr>
	    	{% endfor %}
	    </table>

		{% endif %}

  </div>


{% endblock %}