{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  function open_product_modal(product_id, product_display_name, product_img_url, product_description) {
    var modal = document.getElementById("product_description");
    document.getElementById("modal_title").innerHTML = product_display_name;
    var img = "<img src='"+product_img_url+"' alt='Avatar' style='text-align: center; vertical-align: middle; width:70%;'><br><br>";
    document.getElementById("product_img").innerHTML = img;
    document.getElementById("product_composition").innerHTML = product_description;
    modal.style.display = "block";
  }

  window.onclick = function(event) {
    var modal = document.getElementById("product_description");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  window.onmouseover = function(event) {
    var modal = document.getElementById("product_description");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
  
<div class="container intro-screen" style="width: 100%;" id = "intro-screen">
  <!-- <img src="https://raw.githubusercontent.com/Prudhvik-1996/LaTherapeutics/master/images/1_MAIN_PAGE.jpg" style="width:80%;"> -->
  <!-- <div class="top-right">
    <p class="first-screen-title">
      <b id = "L-in-la">L</b>ife is<br>
      <b id = "A-in-la">A</b>ctive with<br>
      <b id = "L-in-la">L</b><b id = "A-in-la">A</b> Therapeutics
    </p>
  </div> -->
</div>

<div id="product_description" class="modal">
  <div class="modal-content">
    <div class="row product_name modal_title" id="modal_title">
      
    </div>
    <br><br>
    <div class='row img_desc'>
      <div class='col-md-5' id="product_img" style="border-right: 3px solid #B80000;" align="middle">
      </div>
      <div class="col-md-7 product_composition" id="product_composition" align="middle">
        
      </div>
    </div>
  </div>
</div>

<div class="row about-screen" style="width: 100%;" id = "about-screen">
  <h1 style="text-align: center; font-size: 64px; padding-bottom: 5%;">About Us</h1>
  <div class="row col-md-12 paragraph l-p">
    Since 3 decades, Pharmaceutical industry has been growing rapidly.
    We have witnessed the development of many new molecules that have cured several diseases and disorders. Inspite of these, there is always a continuous need for the evolution of new drugs in different specialities, as superspeciality medical knowledge is growing to give accurate treatment options to the needy.
  </div>
  
  <div class="row col-md-12 paragraph r-p">
    We, at LA Therapeutics belive that medicine is something which makes patient's Life Active.
    Our products are assured to give desired results to a doctor or a patient. Because, right from the selection of bulk drug, raw materials, active pharmacetial ingridents to a finished product including packing, storage, transportation etc., will go through a critical pipeline verification of WHO - GMP certifications, ISO certifications, state-of-the-art manufacturing plants with world class manufacturing techniques etc,.
  </div>
  
  <div class="row col-md-12 paragraph l-p">
    All our products meet the compositions specified by government authorities like DCGI in India and accordingly globally.
  </div>

  <div class="row col-md-12 paragraph r-p">
    We are originated in India and expanding our sales & services to global market as per the demand.
  </div>

  <div class="row col-md-12 paragraph l-p">
    We have presence in many theauraputic areas like pediatrics, geriatrics, gynocology, general medicine, orthopedic, dental, dermatology, gastroentrology and so on.
    Our product range includes tablets, capsules, softgels, injectables, liquids, suspensions, gels, topical oitments, drops and so on.
  </div>

  <div class="row col-md-12 well well-margin">
    Since inception, we have been maintaining world class quality with a dedicated responsibility to make nation's life active.
    <br>
    We at LA Thearapeutics own it.
  </div>

  <div class="row col-md-12 paragraph r-p">
    Our stake holders and team members are striving hard to take our aims and goals of delivering the quality product to the needy across the country. A group of good product development team, strategic team, marketing team, HR management team, product partner team are our formula for success.
  </div>
</div>

<div class="row col-md-12 products-screen" style="width: 100%;" id = "products-screen" align="center">
  <h1 style="text-align: center; font-size: 64px; padding-bottom: 5%; color: white;">Our Products</h1>
  

  {% for product in products %}
  <div class="products-row">
    
    <div class="col-md-6">
      <button class="btn btn-info btn-lg product_btn" onmouseover="open_product_modal('{{ product.f_product_name }}', '{{ product.f_display_name }}', '{{ product.f_img_url }}', '{{ product.f_display_caption }}')" onclick="open_product_modal('{{ product.f_product_name }}', '{{ product.f_img_url }}', '{{ product.f_display_caption }}')" id="{{ product.f_product_name }}"><span>{{ product.f_display_name }}</span></button>
    </div>

  </div>
  {% endfor %}
  <br><br><br><br>
</div>

  

{% endblock %}