{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  function open_product_modal(product_id, product_display_name, product_img_url, product_description) {
    var modal = document.getElementById("product_description");
    document.getElementById("modal_title").innerHTML = product_display_name;
    var img = "<img src='"+product_img_url+"' alt='Avatar' style='text-align: center; vertical-align: middle; width:70%;'><br><br>";
    document.getElementById("product_img").innerHTML = img;
    document.getElementById("product_composition").innerHTML = product_description;
    modal.style.display = "block";
  }

  window.onmouseover = function(event) {
    var modal = document.getElementById("product_description");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  function get_rx_img() {
    document.getElementById('rx_img').innerHTML = "<img src=\"https://media.tenor.com/images/5bcaf887491b9e34a1e2038073f3c729/tenor.gif\" style=\"margin: 20px;position: absolute; top: 10px; left: 10px; font-size: 18px; width: 150px; height: 210px; object-position: 0 0; position: fixed;\">";
  }

  function close_modal() {
    console.log("helloooov");
    var modal = document.getElementById('product_description');
    modal.style.display = "none";
  }
</script>
  
<style type="text/css">
  img.sticky-left {
    position: -webkit-sticky;
    position: sticky;
    float: left;
    top: 10%;
    left: 10px;
    width: 120px;
    height: 150px;
    padding: 0%;
    margin-top: 0px;

  }

  img.sticky-right {
    position: -webkit-sticky;
    position: sticky;
    float: right;
    top: 10%;
    right: 10px;
    width: 120px;
    height: 150px;
    padding: 0%;
    margin-top: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .products_lists {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-top: 10px;
  }

  #closemodal {
    font-size: 28px;
    color: white;
    float: right;
    background-color: #4242EE;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #4242EE;
  }
</style>

<div class="container intro-screen" style="width: 100%;" id = "intro-screen">
</div>

<div id="product_description" class="modal">
  <div class="modal-content">
    <div class="row product_name modal_title">
      <span id="modal_title"></span>
      <span><button id="closemodal" onclick="close_modal()">x</button></span>
    </div>
    <br><br>
    <div class='row img_desc'>
      <div class='col-md-5' id="product_img" style="border-right: 3px solid #B80000;" align="middle">
      </div>
      <div class="col-md-7 product_composition" id="product_composition" align="middle">
        
      </div>
    </div>
  </div>
</div>

<div class="row about-screen" style="width: 100%;" id = "about-screen">
  <h1 style="text-align: center; font-size: 64px; padding-bottom: 5%;">About Us</h1>
  <div class="row col-md-12 paragraph l-p">
    As an organisation committed for keeping health care first, we at L.A. Therapeutics over the past three decades have always evolved with the changing needs of the people who rely on us to create a healthier world. The company is the torchbearer of many innovative products and solutions, has developed medicine for a wide range of disciplines with the likes of paediatrics, geriatrics, gynaecology, general medicine, orthopaedics, dental, dermatology, gastroenterology and so on. We have witnessed the formulation of many new molecules that have cured several diseases and disorders. Despite these, there is a frequent and a continuous need for the evolution of new drugs in different specialities as super speciality medical knowledge is making pavements into much broader research and massive technological aspects.
  </div>
  
  <div class="row col-md-12 paragraph r-p">
    We, at L.A. Therapeutics believe that medicine is something which makes a patient’s Life Active. At a time, when healthcare is increasingly defined by a growing global needs, a focus on quality and affordability is essential. Our products are assured to give desired results not only to the patients but also to the esteemed doctors. Because, right from the selection of bulk drugs, raw materials, active pharmaceutical ingredients to a finished product including packing, storage, transportation etc., the manufacturing process goes through a critical pipeline verification of WHO – GMP, ISO certifications, DCGI, FDA in state-of-the-art manufacturing plants with world-class techniques. As a result, we are able to both innovate and execute quickly, from activating our portfolio to improving manufacturing, advancing Research & Development.
  </div>
  
  <div class="row col-md-12 paragraph l-p">
    All our products meet the compositions and norms specified by the government authorities in India and as so globally. Today L.A. Therapeutics serves markets not only in India but across the globe and has a strong dedicated network of customers and clients with reliability all over the world.
  </div>

  <div class="row col-md-12 paragraph r-p">
    We at L.A. Therapeutics, since its inception with roots in innovation and technology ingenuity, is poised to take our portfolio of established medicines to the next level with world class quality, bringing life-changing products to patients around the world and trailblazing a new path for the industry. As a company apart from its productive values, we carry the notions to leverage the strengths at the core of who we are, an entrepreneurial mindset and a sense of touch and purpose.
  </div>

  <!-- <div class="row col-md-12 paragraph l-p">
    We have presence in many theauraputic areas like pediatrics, geriatrics, gynocology, general medicine, orthopedic, dental, dermatology, gastroentrology and so on.
    Our product range includes tablets, capsules, softgels, injectables, liquids, suspensions, gels, topical oitments, drops and so on.
  </div> -->

  <div class="row col-md-12 well well-margin highlight-about" style="margin-bottom: 5%; text-align: justify;">
    We formulate our best to unify the thoughts and ideas into delivering millions of smiles to each and everyone around the world.
  </div>

  <div class="row col-md-12 paragraph l-p">
    Our stake holders and team members are striving hard to take our aims and goals of delivering the quality product to the needy across the country. A group of good product development team, strategic team, marketing team, HR management team, product partner team are our formula for success.
  </div>
</div>

<!-- <img src="https://media.tenor.com/images/5bcaf887491b9e34a1e2038073f3c729/tenor.gif" style="margin: 0px;"> -->

<div class="row col-md-12 products-screen" style="width: 100%;" id = "products-screen">

  <h1 style="text-align: center; font-size: 64px; padding-bottom: 5%; color: white;">Our Products</h1>  
  
  <div class="products_lists">
    {% for product in products %}
    <div class="products-row">
      
      <div class="col-md-6">
        <button class="btn btn-info btn-lg product_btn" onmouseover="open_product_modal('{{ product.f_product_name }}', '{{ product.f_display_name }}', '{{ product.f_img_url }}', '{{ product.f_display_caption }}')" onclick="open_product_modal('{{ product.f_product_name }}', '{{ product.f_display_name }}', '{{ product.f_img_url }}', '{{ product.f_display_caption }}')" id="{{ product.f_product_name }}"><span>{{ product.f_display_name }}</span></button>
      </div>

    </div>
    {% endfor %}
  </div>
  <br><br><br><br>
</div>

  

{% endblock %}